
raw/*
work/*
results/*
ref/*
ref/STAR_GRCh38/

# allow empty-folder placeholders
!raw/.keep
!work/.keep
!results/.keep
!ref/.keep

# common large artifacts
*.bam
*.bai
*.fastq
*.fastq.gz
*.html
ncbi_extracted/
ncbi_dataset.zip

# (optional) ignore local docs if you don’t want them in git
*.pdf
*.docx
